<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <container>
        <header class="site-header"">
            <span class="site-title">My Symfony Site</span>
            <nav>
                <ul>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('about') }}">About</a></li>
                    <li><a href="{{ path('lucky') }}">Lucky</a></li>
                    <li><a href="{{ path('quote') }}">Quote</a></li>
                    <li><a href="{{ path('report') }}">Report</a></li>
                </ul>
            </nav>
        </header>
        <body>
            {% block body %}{% endblock %}
        </body>
        <footer>
            <a href="https://github.com/git-Stella/report-mvc">Repo för denna sida</a>
            <p>Sida för mvc kurs på bth gjord av Stella Karlsson</p>
        </footer>
    </container>
</html>
